@import "tailwindcss";

@theme {
  --color-finance-primary: #0f172a;
  --color-finance-secondary: #10b981;
  --color-finance-background: #f8fafc;
}

body {
  /* No v4, usamos o nome da variável que criamos acima */
  @apply bg-finance-background text-slate-900 antialiased;
}